.hero {
  color: #f2f2f2;
  background-color: #00a5b5 !important;
}

.off-white {
  background-color: rgba(0, 177, 194, 0.05);
}

.comment {
  padding: 2.75rem 1.5rem !important;
}

.comment-avatar {
  a {
    img {
      max-width: 100px;
      max-height: 100px;
    }
  }
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none !important;
}
